body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.collection-item .no-padding {
  padding: 0;
}
.card-small-margin {
  margin: 0.1rem 0 0 0 !important;
}
@media only screen and (max-width: 450px) {
  .xscontainer {
    width: 100% !important;
  }
}
@media only screen and (min-width: 992px) {
  .card .card-content {
    padding: 12px;
  }
}
.collapsible .small-padding {
  padding: 1rem !important;
  padding-bottom: 0 !important;
}
