.flight-info {
    background-color: #1796d2;
}

.flight-info > .mdl-card__title {
    color: white;
}

.flight-info > .mdl-card__supporting-text > .mdl-list > .mdl-list__item > .mdl-list__item-primary-content {
    color: white;
}

.freetime {
    background-color: #4527a0;
}

.freetime > .mdl-card__title {
    color: white;
}

.freetime > .mdl-card__supporting-text {
    color: white;
}

.hotel-img > .mdl-card__title {
    color: #FFFFFF;
    background: url('./img/hotel.jpg') center / cover;
}

.disneyland-img > .mdl-card__title {
    color: #ffffff;
    background: url('./img/hong-kong-disney-land-park-hero-00.jpg') center / cover;
}

.tlw-img > .mdl-card__title {
    color: #ffffff;
    background: url('./img/tlw.jpg') center / cover;
}

